body{
  
   background-image: url("../bilder2/sun-3588618.jpg");
    background-size: 100%;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    border: 0;
    margin-top: 0 auto;
    backdrop-filter: blur(10px);
    word-spacing: 4px;
}


header{
text-align: center;
border: 0;
height: 180px;
width: 100%;
margin-top: 0;
display: flex;
justify-content: space-around;
font-family: 'Mochiy Pop P one', sans-serif;

}

header h1{
    font-size: 55px;
    color: rgba(232, 235, 237, 0.974);
    text-shadow: 1px 1px 1.5px rgb(7, 7, 7); 
   
}


header h2{
    font-size: 35px;
    text-shadow: 1px 1px 1.5px rgb(7, 7, 7); 
    color: rgba(232, 238, 241, 0.974);
}
#gridcontainer{
    display: grid;
    grid-template-columns:repeat(13, 1fr);
    grid-gap:15px;
    grid-template-rows: auto;
    width: 100%;
    height: auto;
}


input{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
}

 button{
    padding: 5px;
    font-size: 15px;
    color: rgb(245, 242, 242);
    border-radius: 5px;
    text-shadow: 1px 1px 1.5px rgb(7, 7, 7); 
    height: 55px;
    width: 55px;
    background-image: linear-gradient(to bottom right, rgba(18, 160, 226, 0.974),rgb(14, 132, 219),  rgb(244, 244, 192));
    z-index: 1;
}
 #sökpuls {
    display: none;
 

 }
 #sökstill{
    display: inline-block;
 }

 #sök:hover #sökstill{
    display: none;
 }

 #sök:hover #sökpuls{
display:inline-block;
 }
 
 button:hover, a:hover{
    box-shadow: 4px 4px 8px 4px rgba(57, 159, 217, 1);
    cursor: pointer;
 }



a{
    text-decoration: none;
    margin-right: 60x;
    height: 45px;
    width: 55px;
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
    text-align: center;
    border-radius: 12px;
    color: whitesmoke;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, rgba(18, 160, 226, 0.974),rgb(14, 132, 219),  rgb(244, 244, 192));
    text-shadow: 1px 1px 1.5px rgb(7, 7, 7); 
    font-family: 'Mochity Pop P One', sans-serif; 
}

#sökfält{
   
    grid-column: 4/8;
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: space-evenly;

}
#days{
    grid-column: 11/12;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
    margin-top: 35px;  
    margin-left: 50px;
}

#bilder{
    margin-top: 0;
    
}
a:active{
    background-color: black;
}

.vädret{
    background-image: linear-gradient(to bottom right, rgba(18, 160, 226, 0.974),rgb(14, 132, 219),  rgb(244, 244, 192));
    background-color: 4px 4px 8px 4px rgb(19, 37, 48);
 
    border-radius: 22px;
    box-shadow: 5px 5px 10px 5px rgba(25, 26, 26, 0.5);
    color: aliceblue;
    border: solid 1px black;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1.5px rgb(7, 7, 7); 
}

#vädret{
    grid-column: 3/10;
    grid-row: 2/6;
}

.veckodag{
    font-size: 45px;
    font-family: 'Mochity Pop P One', sans-serif;
}

.dagensVäder{
display: grid;
grid-template-columns: repeat(13, 1fr);
grid-template-rows: repeat(5, 130px);
margin-bottom: 15px;


}
 #content{
    grid-column: 8/11;
    display: flex;
    align-items: center;
    font-size: 45px;
    height: 150px; 
}

#content h2{
   text-shadow: 1px 1px 1.5px rgb(245, 242, 242); 
}
    
.höger{
    grid-column: 9/13;
    grid-row:1/6;
    padding: 25px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(31, 41, 48, 0.6);
    border-radius: 15px;
    text-shadow: 1px 1px 1.5px rgb(7, 7, 7);
    box-shadow: 5px 5px 10px 5px rgba(25, 26, 26, 0.5);
}
.höger img{
    height: 85px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.höger h2{
    font-size: 55px;
    text-align: center;
}
.höger h3{
    font-size: 30px;
    text-align: center;
}

.vänster{
    grid-column: 2/9;
    grid-row: 1/6;
    text-align: center;
    
    background-color: rgba(31, 41, 48, 0.6);
    border-radius: 15px;
    margin: 25px 25px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    box-shadow: 5px 5px 10px 5px rgba(25, 26, 26, 0.5);
}

@media  screen and (max-width: 1531px) {
    #gridcontainer{
        position: relative;     
    }

    #sökfält{
        height: 50px;
        margin-top:15px;
        margin-left: 205px;  
        margin-bottom: 55px;
    }

    button{
        margin-left: 15px;
        height: 40px;
       width: 40px;
       z-index: 2;
    }
    #days{
        grid-column: 10/12;
        grid-row: 2/5;
        display: flex;
        flex-direction: column;
        margin-top: 35px; 
      
       
    }

  
    #content{
       text-align: center;
        margin-right: 15px;
        font-size: 35px;
        position: absolute;
         top:20px;
         left: -140px;
         z-index:-1;
         margin-top: 15px;
        
    }

    #vädret{
        grid-column: 1/10;
         grid-row: 2/6;
         margin-left: 155px;
         width: 95%;
         margin-right: 0 auto;
         margin-top: 15px;
         width: 80%;
    }




.höger {
    margin-right: 12px;
    width: 250px;
    
}
.vänster {
    margin-right: 0px;
    width: 55%;
}
    header{
        height: 250px;
        font-size: 25px;
    }
header img{
    display: none;
}
}

@media  screen and (max-width: 587px){


#vädret{
    grid-column: 1/13;
     grid-row: 3/6;
     margin-left: 5px;
     width: 95%;
     margin-left: 10px;
}
.höger{
    width: 100px;
}

 a{
        height: 15px;
        width: 15px;
        font-size: 10px;
        margin-top: 0;
        z-index: 2;
        margin-left: -5px;
    } 
     #days{
        grid-row: 2/3;
        grid-column: 1/13;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .höger h3, .höger h2{
        font-size: 20px;
        text-align: center;
    }
    .höger p{
        font-size: 13px;
    }
}